* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

#Calendar {
    text-align: center;
    font-weight: bold;
}

.month {
    text-align: center;
}

.box {
    display: flex;
    gap: 6%;
    margin: 17px;
}

.box2,
.box3,
.box4,
.box5 {
    margin: 10px;
    padding: 10px;
    width: 25%;
}

.offday {
    color: red;
}

#line {
    margin-top: 10px;
    margin-bottom: 16px;
}